<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

  <title>MindHub cares about your accounts</title>
</head>

<body class="d-flex flex-column h-100" id="app" v-cloak>
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid" id="sticky-nav">
      <a class="navbar-brand" href="#" id="title"><strong class="font-monospace">MHOME</strong>BANKING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="./accounts.html">My Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./cards.html">My Cards</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown"
              aria-expanded="false">Others</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown04">
              <li><a class="dropdown-item" href="./loan-application.html">Apply for Loans</a></li>
              <li><a class="dropdown-item" href="./create-cards.html">Apply for Cards</a></li>
            </ul>
          </li>
        </ul>
        <button class="btn btn-hover" @click="logOut"><a href="./index.html"> <i class="fas fa-door-open fa-2x"
              id="exit-btn"></i></a></button>
      </div>
    </div>
  </nav>
  <header class="d-flex bd-highlight row mb-3 justify-content-between" id="header">
    <div class="row col-12 col-lg-8 mt-3 py-md-4 px-md-5 bd-highlight">
      <img src="./assets/profile-pic.jpg" alt=""
        class=" col-lg-5 profile-pic rounded-circle mx-auto mt-5 my-lg-auto mx-lg-5">
      <p class="fs-1 text-center pt-3 text-lg-start py-lg-5 col-lg-7" >Welcome back, {{clientData.first_name}}
      </p>
    </div>
    <div class="col-6 col-lg-4 my-3 mx-auto m-md-0 py-md-5 px-md-5 bd-highlight ">
      <h4 class="text-center text-md-end"> Total Savings ${{savings}} </h4>
      <p class="fs-4 text-center text-md-end" >{{currentDate()}}</p>
    </div>
  </header>

  <main class="row" >
    <div class="row justify-content-between border-bottom">
      <h3 class="col-12 col-lg-4 my-4 mx-lg-5 p-lg-4" ><strong>Current Account:</strong> {{accountData.number}}
      </h3>
      <h3 class="col-6 col-lg-4 my-4 mx-lg-5 p-lg-4 text-start text-lg-end" ><strong>Balance:</strong>
        ${{accountData.balance}}</h3>
    </div>

    <section class="col-12 col-lg-6 ms-lg-5">
      <div class="row justify-content-between my-3 my-lg-0" v-if="transactions.length>0">
        <form class="col-12 col-lg-6 my-auto py-lg-3">
          <label for="busqueda" class="visually-hidden"></label>
          <input type="text" class="form-control" id="busqueda" placeholder="Search" v-model="search">
        </form>
        <div class="row col- col-lg-6 py-lg-3 justify-content-end">
          <a class="btn btn-grad w-auto px-3" value="Send" href="./transfers.html">New Transfer</a>
          <a class="btn btn-grad w-auto px-3" value="Send" @click="getSummary">Get summary</a>

        </div>
      </div>
      <div class="accordion scrollable" id="accordionExample">
        <div class="item-1 row accordion-item  sticky-top">
          <div class="col-3 my-auto"> DATE </div>
          <div class="col-4 my-auto"> CONCEPT </div>
          <div class="col-2 my-auto"> IMPORT </div>
          <div class="d-none d-md-block col-lg-2 my-auto"> BALANCE </div>
        </div>
        <!-- Valores mostrados a modo de referencia, es necesario que se vaya modificando el balance para mostrar datos reales -->
        <div v-show="!transactions.length>0">
          <p class="text-primary text-center fs-2 p-5">Here you'll see all the information of your transactions in your
            account N°{{accountData.number}}, such as Date, Concept, Destination Account and Receiver and Current
            balance at that moment</p>
        </div>
        <div class="accordion-item" v-for="transaction in filteredTransactions">
          <div class="item-2 row">
            <div class="col-3 col-lg-3 py-4 my-auto" >{{transaction.date.slice(0,10)}} </div>
            <div class="col-4  col-lg-4 py-4 my-auto" >{{transaction.description}}</div>
            <div class="col-3  col-lg-2 py-4 my-auto"
              :class="[transaction.type =='DEBIT' ? debitClass : '',creditClass]" >
              ${{transaction.amount}} </div>
            <div class="d-none d-md-block col-lg-2 py-4 my-auto" > $ {{
              transaction.currentBalance}}</div>
            <div class="accordion-button collapsed accordion-account col-1 col-lg-1" type="button"
              data-bs-toggle="collapse" :data-bs-target=`#collapse-${transaction.id}` aria-expanded="true"
              :aria-controls="transaction.id">
            </div>
          </div>
          <div :id="'collapse-'+transaction.id" class="accordion-collapse collapse ">
            <div class="item-2 row prueba">
              <h5 class="col-12 m-2 mx-lg-2 mt-lg-3 text-start text-primary"><strong class="text-black">TRANFER
                  DETAILS</strong>
              </h5>
              <p class="col-lg-4  mt-lg-2 text-start  text-primary"><strong> Origin account:
                </strong>{{transaction.originAccount}}</p>
              <p class="col-lg-4  mt-lg-2 text-start  text-primary"><strong> Sender: </strong>{{transaction.sender}}</p>
              <p class="col-lg-4  mt-lg-2 text-start  text-primary"><strong> Concept:
                </strong>{{transaction.description}} </p>
              <p class="col-lg-4  mt-lg-2 text-start  text-primary"><strong>Target account:
                </strong>{{transaction.destinationAccount}} </p>
              <p class="col-lg-4  mt-lg-2 text-start  text-primary"><strong> Receiver: </strong>{{transaction.receiver}}
              </p>

              <p class="col-lg-4  mt-lg-2 text-start  text-primary"><strong>Date:</strong>
                {{transaction.date.slice(0,10)}}
              </p>
              <p class="col-lg-4   text-start  text-primary"><strong> Time:
                </strong>{{transaction.date.slice(11,19)}} </p>
              <p class="col-lg-3   text-start text-primary"
                :class="[transaction.type =='DEBIT' ? debitClass : '',creditClass]" > <strong>Import:
                </strong>${{transaction.amount}} </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="col-lg-5">
      <section class="d-none col-12 d-md-block mt-5 me-5" id="chartdiv" style="height: 400px;">
      </section>
      <div class="col-12 col-md-8 row accordion-item currency-table">
        <h4 class="text-center border-bottom">Currency Rates</h4>
        <div class="col-4 my-auto border-bottom py-2 text-center"> EUR </div>
        <div class="col-4 my-auto border-bottom py-2 text-center"> ARS $ </div>
        <div class="col-4 my-auto border-bottom py-2 text-center"> USD $ </div>
        <div class="col-4 my-auto  py-2 text-center"><input type="text" name="ars" id="ars" v-model="EUR"
            class="currency-input text-center" ></input></div>
        <div class="col-4 my-auto  py-2 text-center" > {{(ARS*EUR).toFixed(2)}} </div>
        <div class="col-4 my-auto  py-2 text-center" > {{(USD*EUR).toFixed(2)}} </div>
      </div>
    </div>


  </main>

  <footer
    class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center py-3 my-4 footer mt-auto border-top">
    <p class="col-md-4 mb-0 text-muted ms-4">&copy; 2021 MindHub, Inc</p>
    <a class="navbar-brand" href="#" id="title"><strong class="font-monospace">MHOME</strong>BANKING</a>
    <ul class="col-12 nav col-md-5 justify-content-center justify-content-md-end me-4">
      <li class="nav-item"><a href="./index.html" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="./accounts.html" class="nav-link px-2 text-muted">My Accounts</a></li>
      <li class="nav-item"><a href="./cards.html" class="nav-link px-2 text-muted">My Cards</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown"
          aria-expanded="false"></a>
        <ul class="dropdown-menu" aria-labelledby="dropdown04">
          <li><a class="dropdown-item" href="./loan-application.html">Apply for Loans</a></li>
          <li><a class="dropdown-item" href="./create-cards.html">Apply for Cards</a></li>
        </ul>
      </li>
    </ul>
  </footer>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Alertify -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- PieChart -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script><script src="https://cdn.amcharts.com/lib/5/core.js"></script>
  <!-- <script src="https://cdn.amcharts.com/lib/5/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/animated.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script> -->
  <!-- Main JS -->
  <script src="./scripts/account.js"></script>



</body>

</html>