<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>All your cards in one place</title>
</head>

<body>
  <div class="spinnerContainer">
    <img src="./assets/loader-blu.gif">
  </div>
  <div class="d-flex flex-column h-100" id="app" v-cloak>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top d-none" ref="nav">
      <div class="container-fluid" id="sticky-nav">
        <a class="navbar-brand" href="#" id="title"><strong class="font-monospace">MHOME</strong>BANKING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
          aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">

            <li class="nav-item">
              <a class="nav-link active" href="./accounts.html">My Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cards.html">My Cards</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown"
                aria-expanded="false">Others</a>
              <ul class="dropdown-menu" aria-labelledby="dropdown04">
                <li><a class="dropdown-item" href="./loan-application.html">Apply for Loans</a></li>
                <li><a class="dropdown-item" href="./create-cards.html">Apply for Cards</a></li>
              </ul>
            </li>
          </ul>
          <button class="btn btn-hover" @click="logOut"><a href="./index.html"> <i class="fas fa-door-open fa-2x"
                id="exit-btn"></i></a></button>
        </div>
      </div>
    </nav>

    <header class="d-flex bd-highlight mb-3 row justify-content-between d-none" ref="header" id="header">
      <div class="row col-12 mt-3 py-md-4 px-md-5 bd-highlight">
        <img src="./assets/profile-pic.jpg" alt=""
          class=" col-lg-5 profile-pic rounded-circle mx-auto mt-5 my-lg-auto mx-lg-5">
        <p class="fs-4 text-center pt-3 text-lg-start py-lg-5 col-12 col-md-8">As you already know
          {{clientData.first_name}}, in MHBrothers we take care of your savings and investments. Please find below all
          your credit and debit cards information available.</p>
      </div>
    </header>
    <main class="row cards-body m-4 d-none" ref="main">
      <section class="row col-12 justify-content-center" v-if="creditCards.length>0">
        <p class="text-center m-5 fs-2 fw-bold">My MHBrothers Credit Cards</p>
        <div class=" justify-content-center col-12 col-md-3" v-for="card in creditCards">
          <div class="row card-own" :class="{ disabledSection: isOverdue(card.thruDate) }">
            <div class="card-inner">
              <div class="front"
                :class="{titanium : card.color == 'TITANIUM', gold : card.color =='GOLD', silver : card.color =='SILVER'}">
                <img v-if="card.color == 'TITANIUM'" src="./assets/images/map3.png" alt="" class="map-img">
                <img v-else-if="card.color == 'SILVER'" src="./assets/images/map6.png" alt="" class="map-img">
                <img v-else="card.color == 'GOLD'" src="./assets/images/map4.png" alt="" class="map-img">
                <!-- <img src="./assets/images/map.png" class="map-img" alt=""> -->
                <div class="fila">
                  <img src="./assets/images/chip.png" class="chip" alt="">
                  <div>
                    <img src="./assets/images/visa-debit.png" id="visa-logo" alt="">
                    <p class="text-end mb-0">{{card.color}}</p>
                  </div>
                </div>
                <div class="fila card-number">
                  <p>{{card.number.slice(0,4)}}</p>
                  <p>{{card.number.slice(5,9)}}</p>
                  <p>{{card.number.slice(10,14)}}</p>
                  <p>{{card.number.slice(15,19)}}</p>
                </div>
                <div class="fila card-holder">
                  <p>CARD HOLDER</p>
                  <p>VALID TILL</p>
                </div>
                <div class="fila name">
                  <p> {{card.cardHolder.toUpperCase()}}</p>
                  <p>{{thruDate(card)}}</p>
                </div>
              </div>
              <div class="back"
                :class="{titanium : card.color == 'TITANIUM', gold : card.color =='GOLD', silver : card.color =='SILVER'}">
                <img src="./assets/images/map.png" class="map-img" alt="">
                <div class="black-bar"></div>
                <div class="fila card-cvv">
                  <div>
                    <img src="./assets/images/pattern.png" alt="">
                  </div>
                  <p>{{card.cvv}}</p>
                </div>
                <div class="fila card-cont">
                  <p>This is your Virtual MHBrothers Card, do not share your personal information with anybody </p>
                </div>
                <div class="fila signature">
                  <p>CUSTOMER SIGNATURE</p>
                  <div>
                    <img src="./assets/images/visa-credit.png" class="back-logo" width="60px" alt="">
                    <p class="text-end">{{card.type}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="text-danger text-center fw-bold" v-if="isOverdue(card.thruDate)">Your card N°{{card.number}} is
            overdue, please contact our Information Desk</p>
        </div>
      </section>

      <section class="row col-12 justify-content-center" v-if="debitCards.length>0">
        <p class="text-center m-5 fs-2 fw-bold" :class="{ 'text-danger' : logeedIn }">My MHBrothers Debit Cards</p>
        <div class=" justify-content-center col-12 col-md-3" v-for="card in debitCards">
          <div class="row card-own">
            <div class="card-inner">
              <div class="front"
                :class="{titanium : card.color == 'TITANIUM', gold : card.color =='GOLD', silver : card.color =='SILVER'}">
                <img v-if="card.color == 'TITANIUM'" src="./assets/images/map3.png" alt="" class="map-img">
                <img v-else-if="card.color == 'SILVER'" src="./assets/images/map6.png" alt="" class="map-img">
                <img v-else="card.color == 'GOLD'" src="./assets/images/map4.png" alt="" class="map-img">
                <div class="fila">
                  <img src="./assets/images/chip.png" class="chip" alt="">
                  <div>
                    <img src="./assets/images/visa-debit.png" id="visa-logo" alt="">
                    <p class="text-end mb-0">{{card.color}}</p>
                  </div>
                </div>
                <div class="fila card-number">
                  <p>{{card.number.slice(0,4)}}</p>
                  <p>{{card.number.slice(5,9)}}</p>
                  <p>{{card.number.slice(10,14)}}</p>
                  <p>{{card.number.slice(15,19)}}</p>
                </div>
                <div class="fila card-holder">
                  <p>CARD HOLDER</p>
                  <p>VALID TILL</p>
                </div>
                <div class="fila name">
                  <p> {{card.cardHolder.toUpperCase()}}</p>
                  <p>{{thruDate(card)}}</p>
                </div>
              </div>
              <div class="back"
                :class="{titanium : card.color == 'TITANIUM', gold : card.color =='GOLD', silver : card.color =='SILVER'}">
                <img src="./assets/images/map.png" class="map-img" alt="">
                <div class="black-bar"></div>
                <div class="fila card-cvv">
                  <div>
                    <img src="./assets/images/pattern.png" alt="">
                  </div>
                  <p>{{card.cvv}}</p>
                </div>
                <div class="fila card-cont">
                  <p>This is your Virtual MHBrothers Card, do not share your personal information with anybody </p>
                </div>
                <div class="fila signature">
                  <p>CUSTOMER SIGNATURE</p>
                  <div>
                    <img src="./assets/images/visa-credit.png" class="back-logo" width="60px" alt="">
                    <p class="text-end">{{card.type}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="my-5 py-5">
        <div class="row justify-content-evenly pt-5 mt-5">
          <div class="col-12 col-md-6 ms-md-5 ">
            <h1 class="mb-3">Would you like to have a new brand MHBrothers Card?
              <strong>Find the right one for you!</strong>
            </h1>
            <p>See if you're eligible today, without hurting your credit score.</p>
            <ul>
              <li> Start with a credit limit of $200- $1500 </li>
              <li>Build your credit score over time</li>
              <li>Get up to two optional credi increases a year</li>
            </ul>
            <p>Just remember, not using your card responsibly could hurt your credit score, and means you're less likely
              to
              be offered a credit limit increase</p>
            <p class="h1">34.8% APR</p>
            <p clasS="h6">Representative variable</p>
            <div class="col-8 col-md-3 mx-auto m-md-0 py-lg-3">
              <a class="btn btn-grad w-auto px-3" value="Send" href="./create-cards.html">Get my new card now!</a>
            </div>
          </div>
          <img src="./assets/cards-prom/general-promo.png" alt="" class="col-12 col-md-5 mt-3" id="card-promo">
        </div>

      </section>

      <section class="px-md-5">
        <h2 class="text-center my-5">Legal information of our products</h2>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Important Disclosures and Information
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="p-md-3">
                <ol>
                  <li class="mt-3 px-3 fs-6"><strong>$0 Liability Guarantee.</strong> The $0 Liability Guarantee covers
                    fraudulent transactions made by others using your account. To be covered, don't share personal or
                    account information with anyone. Claims may only be filed by the accountholder against posted and
                    settled transactions subject to dollar limits and verification, including providing requested
                    information supporting fraudulent use claim. </li>
                  <li class="mt-3  px-3 fs-6"><strong>Overdraft Protection.</strong> Transfers through our Balance
                    Connect™ for
                    overdraft protection service to your eligible Bank of America deposit account from your credit card
                    account will be Bank Cash Advances under your Credit Card Agreement. Transfers will be subject to
                    the
                    terms of both your Credit Card Agreement and the account agreement(s) and disclosures governing your
                    Bank of America deposit account. Overdraft Protection transfers may not be available for up to 14
                    days
                    from account opening. If you link your Bank of America deposit account to your credit card for
                    Overdraft Protection, we will automatically transfer funds from your credit card account to cover
                    overdrafts on your deposit account, as long as the portion of credit available for cash on your
                    credit
                    card account is sufficient and you are not in default under your Credit Card Agreement. Overdraft
                    Protection transfers from a linked credit card will be made up to the amount required to cover the
                    overdraft and any applicable transfer fee to the covered account. Overdraft protection transfers may
                    be subject to a fee to your linked deposit account for each transaction, as set forth by the terms
                    of
                    your deposit account. The Overdraft Protection Cash Advance will accrue interest at the APR stated
                    in
                    your Credit Card Agreement, which may be greater than the rate charged for overdraft protection
                    transfers from other eligible accounts to your deposit account. Overdraft Protection transfers incur
                    interest charges from the transaction date. If the portion of credit available for cash on your
                    credit
                    card account is insufficient to cover the amount required by the overdraft (in the multiple of funds
                    stated above), we may advance the funds even if it causes your credit card account to exceed your
                    Cash
                    Credit Line. Please see your Credit Card Agreement for additional details. </li>
                  <li class="mt-3  px-3 fs-6"><strong>Mobile Banking.</strong> Mobile Banking requires that you download
                    the
                    Mobile Banking app and is only available for select mobile devices. Message and data rates may
                    apply.
                  </li>
                  <li class="mt-3  px-3 fs-6"><strong>Alerts</strong>. You may elect to receive alerts via text or
                    email.
                    Bank
                    of America does not charge for this service but your mobile carrier's message and data rates may
                    apply. Delivery of alerts may be affected or delayed by your mobile carrier's coverage. </li>
                  <li class="mt-3  px-3 fs-6"><strong>MHBrothers Score Program.</strong> The MHBrothers Score Program is
                    for
                    educational purposes and for your non-commercial, personal use. This benefit is available only for
                    primary cardholders with an open and active consumer credit card account who have a MHBrothers Score
                    available. The feature is accessible through Online Banking, the Mobile website, and the Mobile
                    Banking app for iPhone and Android devices. MHBrothers is a registered trademark of Fair Isaac
                    Corporation in the United States and other countries. Data connection required. Wireless carrier
                    fees
                    may apply. </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Privacy Policy </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="p-3">
                <ol>
                  <li class="mt-3 px-3 fs-6"><strong>Purpose of this Privacy Policy</strong> You trust us with your
                    personal data and we want to be open about what we do with it. This Privacy Policy relates to our
                    Range of Products and Services and aims to give you information on how we collect and process your
                    personal data. It also outlines your privacy rights including how you can access your data, correct
                    it, restrict use of it, erase it and/or object to it being processed. </li>
                  <li class="mt-3  px-3 fs-6"><strong>1.2 What is Capital One's role?</strong> Capital One (Europe) Plc
                    is
                    responsible for deciding why and how your personal data is collected and processed. This makes
                    Capital
                    One (Europe) Plc the Data Controller (referred to as "Capital One", "we", "us" or "our" in this
                    Privacy Policy).

                    Our contact details are: Capital One, PO Box 5281, Nottingham NG2 3HX

                    We have appointed a Data Protection Officer ("DPO") to help make sure we are transparent and fair
                    about how we use your data and comply with any law that may affect your privacy.

                    Our DPO contact details are:
                    DPO Legal Dept, Capital One (Europe) plc, Trent House, Station St, Nottingham NG2 3HX.
                    Email: DataProtection@capitalone.com

                    For any Subject Access Requests (SARs) or other data subject rights requests, please use these
                    contact
                    details;
                    Capital One, PO Box 5281, Nottingham NG2 3HX
                    Email: sarsrightsrequest@capitalone.com </li>
                  <li class="mt-3  px-3 fs-6"><strong>Changes to the Privacy Policy and your duty to inform us of any
                      changes</strong> You have a role to play in managing your data too!

                    It is important that the personal data we hold about you is accurate and current so please let us
                    know
                    if your personal data changes during your relationship with us.

                    This Privacy Policy was last updated on 22 March 2021 and historic versions can be obtained by
                    contacting us.
                  </li>
                  <li class="mt-3  px-3 fs-6"><strong>What is personal data?</strong> Personal data, or personal
                    information, means any information about an individual from which that person can be identified
                    (either on its own or when combined with other information). It does not include data where the
                    identity has been removed (anonymised data).

                    We may Process different kinds of personal data about you, which we have grouped together as
                    follows:
                    <ul>
                      <li class="mt-3  px-3 fs-6"><strong>Identity Data</strong> such as title, names, employment
                        status,
                        occupation, username or similar identifiers, marital status, date of birth </li>
                      <li class="mt-3  px-3 fs-6"><strong>Contact Data</strong> such as addresses, email addresses and
                        telephone numbers </li>
                      <li class="mt-3  px-3 fs-6"><strong>Financial Data </strong> such as your income, credit card
                        details, payment card details or details about other financial accounts that you may have </li>
                      <li class="mt-3  px-3 fs-6"><strong>Account Data</strong> such as details of your account, history
                        of changes, financial summaries, statements and account/user/policy or reference numbers </li>
                    </ul>
                  </li>

                </ol>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="row d-none d-md-block col-12 justify-content-center">
        <div id="carouselExampleInterval" class="carousel slide mt-5 pt-5 pb-5" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="./assets/cards-prom/silver-prom.jpg" class="d-block mx-auto  w-75"
                alt="senior-couple-embracing-each-other">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="./assets/cards-prom/titanium-prom.jpg" class="d-block mx-auto w-75"
                alt="happy-parents-laughing-together-with-daughter">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
    </main>


    <footer
      class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center py-3  footer border-top d-none"
      ref="footer">
      <p class="col-md-4 mb-0 text-muted ms-4">&copy; 2021 MindHub, Inc</p>
      <a class="navbar-brand" href="#" id="title"><strong class="font-monospace">MHOME</strong>BANKING</a>
      <ul class="col-12 nav col-md-5 justify-content-center justify-content-md-end me-4">
        <li class="nav-item"><a href="./accounts.html" class="nav-link px-2 text-muted">My Accounts</a></li>
        <li class="nav-item"><a href="./cards.html" class="nav-link px-2 text-muted">My Cards</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link px-2 text-muted dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown"
            aria-expanded="false">More</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown04">
            <li><a class="dropdown-item" href="./loan-application.html">Apply for Loans</a></li>
            <li><a class="dropdown-item" href="./create-cards.html">Apply for Cards</a></li>
          </ul>
        </li>
      </ul>
    </footer>

  </div>


  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- SweetAlert -->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- PieChart -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
  <!-- Main JS -->
  <script src="./scripts/cards.js"></script>

</body>

</html>