<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
  <link rel="stylesheet" href="./styles/style.css">

  <title>Client Manager</title>
</head>

<body>
  <div id="app" v-cloak>
    <main class="d-flex justify-content-evenly row">
      <form method="POST" novalidate="true" class="col-12 col-md-3 p-5 mx-auto" id="formulario">
        <h2>Client Manager</h2>
        <div class="my-4">
          <label for="name">Name:</label>
          <input type="text" id="name" name="first_name" class="form-control" v-model="first_name">
        </div>
        <div class="my-4">
          <label for="last_name">Last Name:</label>
          <input type="text" id="last_name" name="last_name" class="form-control" v-model="last_name">
        </div>
        <div class="my-4">
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="email" class="form-control" v-model="email">
        </div>
        <button type="button" class="btn btn-primary my-2" value="Send" @click="addClient">Add new Client</button>
      </form>
      <div id="contenedor-tabla" class="d-flex-column col-12 col-md-7 p-5 mx-auto">
        <table class="table col-12 p-5 " id="tabla">
          <thead>
            <tr>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Accounts</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="client in users">
              <td >{{client.first_name}}</td>
              <td >{{client.last_name}}</td>
              <td >{{client.email}}</td>
              <td><button type="button" class="btn btn-warning"><a class="nav-link active" aria-current="page"
                    href="./accounts.html">See accounts</a></button></td>
            </tr>
          </tbody>
        </table>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
            View as JSON
          </button>
        </div>
      </div>
      <!-- Scrollable modal -->
      <div class="modal fade" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">Client REST Response</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <section class="col-12 p-5" id="json">
                <pre >{{json}}</pre>
              </section>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </main>

  </div>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Alertify -->
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <!-- Vue -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- MainJS -->
  <script src="./scripts/manager.js"></script>



</body>

</html>